// copyright © Aidan Yip, all rights reserved.

@use "../styles/_variables";
@use "../styles/_mixins";

header {
  position: fixed;
  top: 0.3rem;
  z-index: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: auto;
}

nav {
  opacity: 0;
  display: none;
  width: 98%;
  max-width: variables.$max_width;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  gap: 2rem;
  padding: 1.3rem 1.3rem;
  font-size: 1rem;
  list-style: none;
  border-radius: 2rem;
  background-color: #18181894;
  border: 1px solid #2c2c2c90;
  box-shadow: 0 0 25px 0 #000000a4;
  backdrop-filter: blur(25px);
  // legacy webkit browser blur
  -webkit-backdrop-filter: blur(25px);
  transition: all 0.3s;
}

// links and logos

#site_logo {
  width: 2rem;
  height: 2rem;
  transform: scale(1.7);
  pointer-events: none;
}

.site_logo_link {
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
}

.navlink {
  font-weight: bolder;
}

.social_logo {
  width: 1.3rem;
  height: 1.3rem;
}

// containers

#social_links {
  display: flex;
  justify-content: space-between;
  width: 5rem;
}

// accessibility

#skip_to_main {
  z-index: 1000;
  top: 0;
  left: 1rem;
  position: absolute;
  padding: 1rem;
  background-color: #1b1b1b;
  opacity: 0;
  pointer-events: none;
}

#skip_to_main:focus {
  opacity: 1;
}

// mobile menu

#menu_button {
  z-index: 1000;
  top: 1rem;
  right: 1rem;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1rem;
  height: 1rem;
  padding: 1.5rem 1.5rem;
  font-size: 3rem;
  border-radius: 50rem;
  color: #ffffff;
  background-color: #1818184d;
  border: 1px solid #3c3c3c90;
  box-shadow: 0 0 25px 0 #000000b7;
  backdrop-filter: blur(25px);
  // legacy webkit browser blur
  -webkit-backdrop-filter: blur(25px);
  transition: all 0.3s;
  cursor: pointer;
}

// desktop

@media (min-width: 40em) {
  header {
    top: 0.7rem;
  }

  #menu_button {
    display: none;
  }

  nav {
    width: 97%;
    opacity: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.5rem 17%;
    border-radius: 5rem;
    gap: 0rem;
  }

  #site_logo {
    transform: scale(1);
  }

  .navlink {
    font-weight: 500;
  }

  .navlink:hover {
    color: #ffffff;
    text-shadow: 0 0 5px #ffffff;
    transition: all 0.3s;
  }

  .social_logo:hover {
    animation: gentleShake 0.5s ease-in-out;
  }
}

@keyframes gentleShake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-2px);
  }
  50% {
    transform: translateX(2px);
  }
  75% {
    transform: translateX(-2px);
  }
  100% {
    transform: translateX(0);
  }
}
