@import "../styles/_variables";
@import "../styles/_mixins";

header {
  position: fixed;
  top: 0rem;
  z-index: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: auto;
}

nav {
  opacity: 0;
  display: flex;
  width: 100%;
  max-width: 1480px;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  gap: 2rem;
  padding: 1.3rem 1.3rem;
  font-size: 1rem;
  list-style: none;
  border-radius: 0rem;
  background-color: #181818ba;
  border: 1px solid #2c2c2c90;
  box-shadow: 0 0 25px 0 #00000099;
  backdrop-filter: blur(25px);
  // legacy webkit browser blur
  -webkit-backdrop-filter: blur(25px);
  transition: all 0.3s;
}

// links and logos

#site_logo {
  width: 2rem;
  height: 2rem;
  transform: scale(1.7);
  pointer-events: none;
}

.site_logo_link {
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
}

.navlink {
  font-weight: bolder;
}

.social_logo {
  width: 1.3rem;
  height: 1.3rem;
}

// containers

#social_links {
  display: flex;
  justify-content: space-between;
  width: 5rem;
}

// accessibility

#skip_to_main {
  z-index: 1000;
  top: 0;
  left: 0;
  position: absolute;
  padding: 1rem;
  background-color: #1b1b1b;
  opacity: 0;
  pointer-events: none;
}

#skip_to_main:focus {
  opacity: 1;
}

// mobile menu

#menu_button {
  z-index: 1000;
  top: 1.3rem;
  right: 1rem;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1rem;
  height: 1rem;
  transform: scale(0.7);
  border-radius: 0rem;
  background: transparent;
  border-top: #ffffff 2px solid;
  border-bottom: #ffffff 2px solid;
  border-left: none;
  border-right: none;
  cursor: pointer;
}

// desktop

@media (min-width: 80em) {
  header {
    top: 0.7rem;
  }

  #menu_button {
    display: none;
  }

  nav {
    width: 97%;
    opacity: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.5rem 20rem;
    border-radius: 1rem;
    gap: 0rem;
  }

  #site_logo {
    transform: scale(1);
  }

  .navlink {
    font-weight: 500;
  }
}
