// copyright © Aidan Yip, all rights reserved.

@mixin section_background {
  background-color: #181818;
  border: 1px solid #2c2c2c90;
  box-shadow: 0 0 10px 0 #00000099;
  backdrop-filter: blur(10px);
  // legacy webkit browser blur
  -webkit-backdrop-filter: blur(10px);
}

@mixin blue_gradient {
  background: #052342;
  background: linear-gradient(
    0deg,
    #052342 0%,
    #020024 100%
  );
}
